# {{ ansible_managed }}
version: '2'

services:
  traefik:
    image: traefik:{{ traefik_version }}
    ports:
      - "{{ traefik_port_http }}:80"
      - "{{ traefik_port_https }}:443"
    networks:
      - {{ traefik_docker_network }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_directory }}/traefik.toml:/traefik.toml
      - {{ traefik_directory }}/conf.d:/conf.d
{% if traefik_acme_enable %}
      - {{ traefik_directory }}/acme.json:/acme.json
{% endif %}
    container_name: traefik

networks:
  {{ traefik_docker_network }}:
    external: true
